__pycache__/
.ruff_cache/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/
cover/

# pyenv
.python-version
.venv*

# poetry
poetry.lock

# Environments
.env
.venv/


# Cloud Functions
.gcloudignore 